html, body {
    background-color: #15171b;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Text */
.title {
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 3em;
    line-height: 1.2;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.smallTitle {
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.2;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

/* View scores */
#viewScores {
    margin-bottom: 50px;
}

/* Name */
#nameArea {
    margin-bottom: 50px;
}

/* Join game text area */
textarea {
    resize: none;
    font-size: 2em;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 40%;
    white-space: normal;
    text-align: center;
    -moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: center;
    padding: 0;
    border: 0;
}

.joinGame {
    margin-bottom: 50px;
}

/* View Scores/Join Game/Create Game Buttons */
.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 40%;
    margin-bottom: 0;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
    background-color: #1a71e4;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 0;
    border: 0;
    transition: 0.1s ease;
}

.btn:focus {
    outline: none;
}

.btn:hover,
.btn:focus {
    color: #ffffff;
    background-color: rgb(55, 137, 245);
    text-decoration: none;
}

.btn:active,
.btn.active {
    outline: 0;
    transform: translateY(4px);
}

.btn:disabled {
    background-color: #232c38;
    cursor: default;
}

/* Lobby */
#btnReturnHomeLobby {
    margin-bottom: 50px;
}

#shareGameCode {
    margin-bottom: 50px;
}

#startGameArea {
    margin-bottom: 50px;
}

#playersList {
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.2;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Create game area */
.gridContainer {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    background-color: none;
    width: 40%;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 0;
    border: 0;
}

.gridItem {
    margin-bottom: 10px;
    height: 100px;
    padding: 0;
    border: 0;
}

/* Game Buttons */
.gameBtn {
    display: table;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0;
    height: 90%;
    width: 90%;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    background-color: #491b5e;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border: 10px solid #491b5e;
    padding: none;
    transition: 0.1s ease;
}

.gameBtn:focus {
    outline: none;
}

.gameBtn:hover,
.gameBtn:focus {
    border: 10px solid rgb(136, 46, 211);
}

.gameBtn:active,
.gameBtn.active {
    border: 10px solid rgb(136, 46, 211);
    transform: translateY(4px);
}

.gameBtn:disabled {
    border: 10px solid #491b5e;
    cursor: default;
}

.gameBtn[curGame=true] {
    border: 10px solid rgb(176, 88, 248);
}

/* Game */
#btnReturnHomeGame {
    margin-bottom: 50px;
}

#countdownTimer {
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 10em;
    text-align: center;
    width: 800px;
    height: 600px;
    line-height: 500px;
    display: table;
    margin: 0 auto;
}

#gameScreen {
    text-align: center;
}

/* Scores */
#btnReturnHomeScores {
    margin-bottom: 50px;
}

#scores {
    width: 80%;
    margin: 0 auto;
}

th {
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    background-color: #15171b;
}

td {
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    background-color: #15171b;
}
